language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"

before_install:
  # put local node-pre-gyp on PATH
  - export PATH=./node_modules/.bin/:$PATH
    # install node-pre-gyp so it is available for packaging and publishing
  - npm install node-gyp -g
    # install node-pre-gyp so it is available for packaging and publishing
  - npm install node-pre-gyp

script:
  # install 32 bit compiler toolchain and X11
  - platform=$(uname -s | sed "y/ABCDEFGHIJKLMNOPQRSTUVWXYZ/abcdefghijklmnopqrstuvwxyz/")
  - if [[ "$platform" == 'linux' ]]; then sudo apt-get -y install gcc-multilib g++-multilib; fi
  - echo $platform
  # run tests with instanbul coverage
  - npm run-script test-travis

after_script:
  # send coverage data to Coveralls
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
